<?xml version="1.0" encoding="utf-8"?>

<root xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:arg name="parts_dir" default="../" />

    <xacro:include filename="$(arg parts_dir)/xacro_common.xacro" />

   <xacro:macro
      name="typeg-rarm"
      params="base_link tip_link">
      
      <link name="${base_link}">
      </link>
      
      <xacro:armjoint
         joint_name="r_shoulder_p_joint"
         type="revolute"
         parent="${base_link}"
         child="r_shoulder_link"
         joint_axis_xyz="0 0.984808 0.173648"
         joint_origin_xyz="0 0 0"
         joint_origin_rpy="0 0 0"
         joint_lower_limit="-1.55"
         joint_upper_limit="0.29"
         joint_velocity_limit="0.4"
         joint_effort_limit="10" />
      
      <xacro:armlink
         model_type="typeg_rarm"
         link_name="r_shoulder_link"
         mesh_name="r_shoulder_link"
         base_origin_xyz="0 0 0"
         base_origin_rpy="0 0 0" />
         
      <xacro:armjoint
         joint_name="r_shoulder_r_joint"
         type="revolute"
         parent="r_shoulder_link"
         child="r_shoulder_center"
         joint_axis_xyz="1 0 0"
         joint_origin_xyz="0 -0.064702 0.027177"
         joint_origin_rpy="0 0 0"
         joint_lower_limit="-1.57"
         joint_upper_limit="0.08"
         joint_velocity_limit="0.5"
         joint_effort_limit="10" />
         
      <xacro:armlink
         model_type="typeg_rarm"
         link_name="r_shoulder_center"
         mesh_name="r_shoulder_center_link"
         base_origin_xyz="0 0 0"
         base_origin_rpy="0 0 0" />

      <xacro:armjoint
         joint_name="r_shoulder_y_joint"
         type="revolute"
         parent="r_shoulder_center"
         child="r_upperarm_link"
         joint_axis_xyz="0 0 1"
         joint_origin_xyz="0 0.01 -0.0455"
         joint_origin_rpy="0 0 0"
         joint_lower_limit="-1.57"
         joint_upper_limit="1.57"
         joint_velocity_limit="1.1"
         joint_effort_limit="10" />

      <xacro:armlink
         model_type="typeg_rarm"
         link_name="r_upperarm_link"
         mesh_name="upperarm_link"
         base_origin_xyz="0 0 0"
         base_origin_rpy="0 0 0" />

      <xacro:armjoint
         joint_name="r_elbow_joint"
         type="revolute"
         parent="r_upperarm_link"
         child="r_elbow_virtual_link"
         joint_axis_xyz="0 1 0"
         joint_origin_xyz="0.0 0 -0.2085"
         joint_origin_rpy="0 0 0"
         joint_lower_limit="-3.0"
         joint_upper_limit="0"
         joint_velocity_limit="1.1"
         joint_effort_limit="10" />

      <link name="r_elbow_virtual_link">
      </link>

      <xacro:armjoint
         joint_name="r_elbow_joint_mimic"
         type="continuous"
         parent="r_elbow_virtual_link"
         child="r_elbow_virtual_link_dummy"
         joint_axis_xyz="0 1 0"
         joint_origin_xyz="0.0 0 0"
         joint_origin_rpy="0 0 0"
         mimic_parent="r_elbow_joint"
         mimic_multiplier="-1"
         mimic_offset="0"
         mimic="true" />

      <link name="r_elbow_virtual_link_dummy">
      </link>

      <xacro:armjoint
         joint_name="r_elbow_middle_joint"
         type="continuous"
         parent="r_elbow_virtual_link_dummy"
         child="r_elbow_middle_link"
         joint_axis_xyz="0 1 0"
         joint_origin_xyz="0.0 0 0"
         joint_origin_rpy="0 0 0"
         mimic_parent="r_elbow_joint"
         mimic_multiplier="0.591222"
         mimic_offset="0"
         mimic="true" />

      <xacro:armlink
         model_type="typeg_rarm"
         link_name="r_elbow_middle_link"
         mesh_name="elbow_middle_link"
         base_origin_xyz="0 0 0"
         base_origin_rpy="0 0 0" />

      <xacro:armjoint
         joint_name="r_elbow_middle_joint_mimic"
         type="continuous"
         parent="r_elbow_middle_link"
         child="r_elbow_link"
         joint_axis_xyz="0 1 0"
         joint_origin_xyz="0.0 0 -0.07"
         joint_origin_rpy="0 0 0"
         mimic_parent="r_elbow_joint"
         mimic_multiplier="0.408778"
         mimic_offset="0"
         mimic="true" />

      <xacro:armlink
         model_type="typeg_rarm"
         link_name="r_elbow_link"
         mesh_name="elbow_link"
         base_origin_xyz="0 0 0"
         base_origin_rpy="0 0 0" />

      <xacro:armjoint
         joint_name="r_wrist_y_joint"
         type="revolute"
         parent="r_elbow_link"
         child="r_forearm_link"
         joint_axis_xyz="0 0 1"
         joint_origin_xyz="0.0 0 -0.1095"
         joint_origin_rpy="0 0 0"
         joint_lower_limit="-1.57"
         joint_upper_limit="1.57"
         joint_velocity_limit="1.2"
         joint_effort_limit="10" />

      <xacro:armlink
         model_type="typeg_rarm"
         link_name="r_forearm_link"
         mesh_name="r_forearm_link"
         base_origin_xyz="0 0 0"
         base_origin_rpy="0 0 0" />

      <xacro:armjoint
         joint_name="r_wrist_p_joint"
         type="revolute"
         parent="r_forearm_link"
         child="r_wrist_center"
         joint_axis_xyz="0 1 0"
         joint_origin_xyz="0 0 -0.124"
         joint_origin_rpy="0 0 0"
         joint_lower_limit="-0.08"
         joint_upper_limit="0.08"
         joint_velocity_limit="0.8"
         joint_effort_limit="10" />

      <xacro:armlink
         model_type="typeg_rarm"
         link_name="r_wrist_center"
         mesh_name="r_wrist_center_link"
         base_origin_xyz="0 0 0"
         base_origin_rpy="0 0 0" />

      <xacro:armjoint
         joint_name="r_wrist_r_joint"
         type="revolute"
         parent="r_wrist_center"
         child="r_wrist_r_link"
         joint_axis_xyz="1 0 0"
         joint_origin_xyz="0 0 0"
         joint_origin_rpy="0 0 0"
         joint_lower_limit="0.0"
         joint_upper_limit="1.57"
         joint_velocity_limit="1.8"
         joint_effort_limit="10" />

      <xacro:armlink
         model_type="typeg_rarm"
         link_name="${tip_link}"
         mesh_name="r_wrist_r_link"
         base_origin_xyz="0 0 0"
         base_origin_rpy="0 0 0" />

    </xacro:macro>
</root>
